.header__line {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 550px) {
    .header__line {
        width: calc(100% + 38px);
        margin: 0 auto 0 -19px;
    }
}