.popup_close {
    color: white;
    margin: 0 0 8px 473px;
    cursor: pointer;
}

.popup_close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 520px) {
    .popup_close {
        margin: 0 0 16px calc(100% - 68px);
    }
}